header {
    background: rgb(75, 164, 194);
    color: aliceblue;
    padding: 1px 10px;
    border-radius: 15px;
    font-family: Cochin, serif;
    font-size: large;
}

button {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    background: azure;
    border-color: aliceblue;
    margin-bottom: 10px;
}